<%provide(:title,@title) %>


<section class="standard_blue_block">
  <div class="container">
    <h1 class="text-center"><%=@title %></h1>
    <%= will_paginate  :renderer => WillPaginate::ActionView::LinkRenderer %>
    <ul>
      <% @users.each do |user|%>
        <div class="user_card">
          <div class="container">
            <div class="row">
              <div class ="col-lg-6 col-sm-12 image-card-holder">
                <%= gravatar_for(user) %>
              </div>
              <div class ="col-lg-6 col-sm-12">
                <%= user.first_name %>
                <br>
                <%= user.last_name %>
                <br>
                <%= user.email %>
                <br>
                <% if get_current_user && get_current_user.admin && !current_user?(user) %>
                  <%= link_to "delete", user ,method: :delete,data: {confirm:"You sure?"}, class: "btn btn-danger" %>
                <%end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </ul>
    <%= will_paginate %>
  </div>
</section>
