<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container no-margin">
    <div class="logo">
      <%= link_to image_tag("twitter.png",width:'64px',height: '32px'),"http://www.twitter.com" %>
    </div>
    <div class="pull-right">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item  <%= "active" if yield(:title) == "Home" %>">
            <%=link_to "Home" , "/static_pages/home" ,class: "nav-link"%>
          </li>
          <li class="nav-item  <%= "active" if yield(:title) == "Help" %>">
            <%=link_to "Help" , "/static_pages/help" ,class: "nav-link"%>
          </li>
          <li class="nav-item <%= "active" if yield(:title) == "About" %>">
            <%=link_to "About" , "/static_pages/about",class: "nav-link" %>
          </li>
          <li class="nav-item <%= "active" if yield(:title) == "All users" %>">
            <%=link_to "users" , "/users",class: "nav-link" %>
          </li>
          <%if logged_in? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                More
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%= link_to "Profile",get_current_user,class: "dropdown-item" %>
                <%= link_to "Settings", get_current_user ? edit_user_path(get_current_user) : "/static_pages/home",class: "dropdown-item" %>
                <div class="dropdown-divider"></div>
                <%= link_to "Logout", logout_path,method:"delete",class: "dropdown-item" %>
              </div>
            </li>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
            </form>
        <%else %>
            <li class="nav-item  <%= "active" if yield(:title) == "Log in" %>">
              <%=link_to "Log in" , "/login",class: "nav-link" %>
            </li>
        <%end %>
        </ul>

      </div>
    </div>
  </div>
</nav>