<!DOCTYPE html>
<html>
  <head>
    <title><%=get_full_title(yield(:title))%></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--[if IE]>
      <script type="text/javascript">
        if(/MSIE \d|Trident.*rv:/.test(navigator.userAgent))
          document.write('<script src="somescript.js"><\/script>');
      </script>
    <![endif]-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Tammudu" rel="stylesheet">
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <!--JQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--Bootstrap js-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  </head>
  <body>

    <%=render "layouts/navbar" %>
    <% flash.each do |k, v| %>
      <div class="alert alert-<%=k %>">
        <%=v %>
      </div>
    <%end %>
    <%= yield %>
    <%=render "layouts/footer" %>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
